* {
    font-family: Microsoft YaHei;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    padding: 30px;
    opacity: 0.8;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 1px;
}

ul li {
    display: inline-block;
}

ul li a {
    transition: 0.6s ease;
    border: 1px white transparent;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    position: relative;
}

ul li a:hover {
    background-color: white;
    color: black;
}

ul li a:active {
    background-color: white;
    color: black;
}

header {
    background-image: url(../img/header3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: black;
    max-width: 100%;
    max-height: auto;
    padding-bottom: 100%;
    text-indent: -99999px;
}

body {
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
    margin-top: -20px;
}

footer {
    background-color: blue;
    padding: 20px;
    position: relative;
    margin-top: 100%;
    
}
